apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: chat-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: chatapp-backend
        image: trainwithshubham/chatapp-backend:latest
        ports:
        - containerPort: 5001
        env:
        - name: NODE_ENV
          value: "production"
        - name: MONGODB_URI
          value: "mongodb://ROOT:root@mongodb:27017/chat_db?authSource=admin"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: chat-app-secrets 
              key: jwt
        - name: PORT
          value: "5001"